.produto {
  display: block;
  width: 730px;
}
.produto__container {
}

.produto__itens {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 550px;
  gap: 35px;
  padding: 40px 40px 15px 130px;
  /*  padding: 0; */
  /*  overflow: hidden;
  overflow-y: 600px; */

  /*  border-top: 10px color #fff; */
}

.produto__item {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 210px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.produto__image {
  width: 60px;
  height: 60px;
  margin: 16px auto 0;
}
.produto__preço {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 19.36px;
  text-align: left;
  margin: 14px auto 0;
  color: rgba(10, 42, 52, 1);
}
.produto__nome {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  margin: 14px auto 0;
  color: rgba(30, 30, 30, 1);
}

.produto__add {
  width: 116px;
  height: 35px;
  padding: 0;
  /*  padding: 8px 16px 8px 16px; */
  border-radius: 8px;
  border: none;
  margin: 14px auto;
  background: rgba(28, 158, 199, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 1);
}

.produto__consulta {
  display: flex;
  width: 490px;
  height: 50px;
  margin: 22px 0 0 160px;
  /*   top: 144px;
  left: 80px;
  gap: 0px; */
  border-radius: 50px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;

  /*  box-shadow: 0 2px 5px #111, 0px 0px 5px #ddd; */
}

.produto__consulta-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 6px 0 0 15px;
}

.produto__input-consulta-produto {
  font-size: 16px;
  margin: 5px 0 5px 80px;
  border: none;
}

.produto__input-consulta-produto::placeholder {
  color: rgba(191, 190, 190, 1);
}

.produto__span-resultado {
  position: relative;
  top: 14px;
  left: 26px;
  font-size: 16px;
  font-weight: bold;
  z-index: 1;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}
